/* STYLESHEET */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 200px;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px 0;
}

.top_header {
    display: flex;
}

.header_logo {
    flex: 1;
    color: #f9faf8;
    font-size: 24px;
}

.right_links {
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 16px;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.sub_header {
    display: flex;
    gap: 50px;
    padding: 100px 0;
    /*border: 3px solid yellow; /* DEBUGGING*/
}

.left_sub_header {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    /*padding-right: 20px;*/
    /*border: 3px solid red; /* DEBUGGING*/
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.title_subtext {
    font-size: 18px;
    color: e5e7eb;
}

#signup_one {
    background-color: #3882f6;
    border: none;
    color: white;
}

.right_sub_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    /*padding-left: 20px;*/
    /*border: 3px solid red; /* DEBUGGING*/
}

#tree {
    flex: 1;
    max-height: auto;
    max-width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.content_title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 50px 0;
}

.content_images {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.img_and_subtext {
    text-align: center;
    width: 150px;
}

.img_and_subtext > img {
    border-radius: 5px;
    border: 2px solid #3882f6;
    height: 150px;
    width: 150px;
}

.quote_block {
    background-color: #e5e7eb;
    padding: 100px 0;
}

.quote {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.quote_attribute {
    font-size: 25px;
    font-weight: 900;
    text-align: right;
    padding-right: 100px;
}

.another_action{
    margin: 50px;
}

.action {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 50px;
}

.action_left {
    flex: 3;
}

.action_title {
    font-weight: 900;
}


#signup_two {
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}