/* STYLESHEET */

/* INITAL SET UP*/
img {
    width: 100px;
    height: auto;
}

/*  END */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 200px;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px 0;
}

.top_header {
    display: flex;
}

.header_logo {
    flex: 1;
    color: #f9faf8;
    font-size: 24px;
}

.right_links {
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 16px;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.sub_header {
    display: flex;
    gap: 50px;
    padding: 100px 0;
    /*border: 3px solid yellow; /* DEBUGGING*/
}

.left_sub_header {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    /*padding-right: 20px;*/
    /*border: 3px solid red; /* DEBUGGING*/
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.title_subtext {
    font-size: 18px;
    color: e5e7eb;
}

#signup_one {
    background-color: #3882f6;
    border: none;
    color: white;
}

.right_sub_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    /*padding-left: 20px;*/
    /*border: 3px solid red; /* DEBUGGING*/
}

#tree {
    flex: 1;
    max-height: auto;
    max-width: 300px;
}

.content {

}

.quote_block {
    background-color: #e5e7eb;
}


.action {
    background-color: #3882f6;
}

.footer {
    background-color: #1f2937;
}